[Unit]
Description=Parallel Filesystem Tracing and Analysis Service

[Service]
Type=forking
User=root
PIDFile=/run/pfstrase.pid
WorkingDirectory=/run
ExecStart=/run/serverd -s tacc-stats03.tacc.utexas.edu -f 10 -d
Restart=always
RestartSec=10
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
