[Unit]
Description=Parallel Filesystem Tracing and Analysis Service

[Service]
Type=simple
ExecStart=/usr/sbin/pfstrased -c CONFIGFILE
ExecReload=/bin/pkill -HUP -f pfstrased
Restart=always
RestartSec=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
