{% extends "pfstrase/base.html" %}
{% block content %}
{% load tz %}

{{ datetime }}
<H2>Active Users and Jobs</H2>

<table class="table table-condensed table-bordered">
  <thead>
    <tr><th>User</th><th>Jobs</th></tr>
  </thead>
  <tbody>
{% for user, job_list in user_jobs.items %}
    <tr> <td>{{ user }}</td> 
      {% for job in job_list %} 
      <td>{{ job }}</td> 
      {% endfor %}
    </tr>
{% endfor %}
  </tbody>
</table>

<H2>MDS Data</H2> 
<table class="table table-condensed table-bordered">
  <thead>
    <tr><th>Time</th><th>Host</th><th>1m 5m 15m Load</th><th>%RAM Used</th><th>IOPS</th> <th>Jobs / IOPS</th> <th>Users / IOPS</th> </tr>  
  </thead>
  <tbody>
    {% for time, h, load1m, load5m, load15m, percentram, total_iops in mds %}
    <tr> <td>{% localtime on %}{{ time }}{% endlocaltime %}<td>{{ h }}</td><td>{{ load1m }} {{ load5m }} {{ load15m }}</td><td>{{ percentram }}</td><td>{{ total_iops }}</td>
      <td>
	{% for mdt, val in mdt_ops.items %}
	{{ mdt }} / {{ val }}
	{% endfor %}
      </td>
      <td>
	{% for jid, val in jid_ops.items %}
	{{ jid }} / {{ val }}
	{% endfor %}
      </td>
      <td>
	{% for user, val in user_ops.items %}
	{{ user }} / {{ val }}
	{% endfor %}
      </td>
    </tr>
      {% endfor %}
  </tbody>
</table>
<center>
{{ resources|safe }}
{{ mds_div|safe }} 
{{ mds_script|safe }}
</center>
<H2>OSS Data</H2> 
<table class="table table-condensed table-bordered">
  <thead>
    <tr><th>Time</th><th>Host</th><th>NID</th><th>1m 5m 15m Load</th><th>%RAM Used</th><th>R/W [MB]</th><th>OSTs / BW</th> <th>Jobs / BW</th> <th>Users / BW</th> </tr> 
  </thead>
  <tbody>

    {% for o, ops, ost_ops, jid_ops, user_ops in oss %}
    <tr> <td>{% localtime on %}{{ o.time }}{% endlocaltime %}<td>{{ o.host }}</td><td>{{ o.nid }}</td><td>{{ o.stats.sysinfo.loadavg1m }} {{ o.stats.sysinfo.loadavg5m }} {{ o.stats.sysinfo.loadavg15m }}</td><td>{{ o.percentram }}</td><td> {{ ops }} </td>      
      <td>
	{% for ost, val in ost_ops.items %}
	{{ ost }} / {{ val }}
	{% endfor %}
      </td>
      <td>
	{% for jid, val in jid_ops.items %}
	{{ jid }} / {{ val }}
	{% endfor %}
      </td>
      <td>
	{% for user, val in user_ops.items %}
	{{ user }} / {{ val }}
	{% endfor %}
      </td>

    </tr>
    {% endfor %}

  </tbody>
</table>
<center>
{{ resources|safe }}
{{ oss_div|safe }} 
{{ oss_script|safe }}
</center>
{% endblock %}
