{% extends "pfstrase/base.html" %}
{% block content %}
{% load tz %}

<form action="{% url 'home' %}" method="post">
  {% include "pfs_app/form.html" %}
</form>

<div class="container">
<H2>Latest Server Updates</H2>
{{ pie_div|safe }} 
{{ pie_script|safe }}
</div>

<div class="container">
<H2>Recent Server History</H2> 
{{ hm_div|safe }} 
{{ hm_script|safe }}
</div>

<div class="container">
<H3>Detailed Server History</H3>
{% for host in hosts %}
<button type="button" class="btn btn-outline-secondary"><a href="{% url 'history' host %}">{{ host }}</a></button>
{% endfor %}
</div>

{{ resources|safe }}

{% endblock %}
